<div class="flex justify-center mb-6">
  <h1 class="text-3xl font-bold text-gray-900 dark:text-gray-100">Dashboard</h1>
</div>

<div class="px-4 py-8 mb-6 text-white rounded-md shadow-md bg-sky-500">
  <% if user_signed_in? %>
    <%= image_tag current_user.avatar_image, class: "w-20 h-20 rounded-full mb-2" if current_user.avatar_image.present? %>
    <p class="text-cyan-800 dark:text-yellow-100">
      <p class="text-xl">Hello, <%= current_user.full_name %>.</p>
      <p class="pb-4 text-sm">(Logged as <%= current_user.role.capitalize %>)</p>
      <%= button_to "Log out", destroy_user_session_path, class: "px-2 py-1 text-sky-500 bg-white rounded-md hover:text-white hover:bg-sky-800", method: :delete, data: { turbo_frame: '_top' } %>
    </p>
  <% else %>
    <%= link_to "Login", new_user_session_path, data: { turbo_frame: 'dashboard_main' } %>
  <% end %>
</div>

<%= turbo_frame_tag "dashboard_main" do %>
  <section class="mx-auto ">
    

    <%# If the user.role is admin, show buttons to create new users %>
    <% if current_user&.admin? %>
      <div class="flex justify-start gap-4 mb-6">
        <%= link_to "List users", list_users_path, class: "hover:text-white hover:bg-sky-800 lg:col-start-3 p-2 px-4 rounded-md text-white justify-self-center bg-sky-500 lg:flex lg:text-[15px", data: { turbo_frame: 'dashboard_main' } %>
        <%= link_to "Create new user", new_user_registration_path, class: "hover:text-white hover:bg-sky-800 lg:col-start-3 p-2 px-4 rounded-md text-white justify-self-center bg-sky-500 lg:flex lg:text-[15px", data: { turbo_frame: 'dashboard_main' } %>
        <%= link_to "Create bulk users", new_user_bulk_path, class: "hover:text-white hover:bg-sky-800 lg:col-start-3 p-2 px-4 rounded-md text-white justify-self-center bg-sky-500 lg:flex lg:text-[15px", data: { turbo_frame: 'dashboard_main' } %>
      </div>
    <%= render "stats" %>
    <% end %>    
  </section>
<% end %>