<%= turbo_frame_tag "dashboard_main" do %>
  <div><%= image_tag @user.avatar_image, class: "w-20 h-20 rounded-full mb-2" if @user.avatar_image.present? %></div>
  <div><%= @user.full_name %></div>
  <div><%= @user.role %></div>
  <%= link_to "Edit user", edit_user_registration_path(id: @user.id), class: "hover:text-white hover:bg-sky-800 lg:col-start-3 p-2 px-4 rounded-md text-white justify-self-center bg-sky-500 lg:flex lg:text-[15px", data: { turbo_frame: 'dashboard_main' } %>
  <%= button_to "Delete user", user_registration_path(id: @user.id), method: :delete, class: "hover:text-white hover:bg-sky-800 lg:col-start-3 p-2 px-4 rounded-md text-white justify-self-center bg-sky-500 lg:flex lg:text-[15px", data: { turbo_frame: 'dashboard_main' } %>
<% end %>
