<div class="card">
  <div class="card-header">

  <%= image_tag rails_blob_url(current_user.photo),
    class: 'user_photo',
    alt: "Profile photo" %>
  </div>

  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= t('views.user.full_name') %>:
        <%= current_user.full_name %>
      </li>
      <li class="list-group-item">
        <%= t('views.user.email') %>:
        <%= current_user.email %>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <%= link_to('Edit Profile', edit_user_registration_path,
            class: 'card-link') %>
  </div>
</div>
