<%= turbo_frame_tag "dashboard_main" do %>
<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="flex flex-col justify-center min-h-screen py-6 bg-gray-100 sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div
      class="absolute inset-0 transform -skew-y-6 shadow-lg bg-gradient-to-r from-sky-300 to-sky-600 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
    </div>
    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
      <div class="max-w-md mx-auto">
        <div class="text-center">
          <h1 class="mb-8 text-3xl font-bold">Welcome back!</h1>
          <h2 class="text-2xl font-semibold">Sign in to your account</h2>
        </div>
        <div class="divide-y divide-gray-200">
          <div class="py-8 space-y-4 text-base leading-6 text-gray-700 sm:text-lg sm:leading-7">
            <div class="form-inputs">
    
            </div>
          
            <div class="relative">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          label: false,
                          input_html: { autocomplete: "email", class: "w-full h-10 text-gray-900 placeholder-transparent border-b-2 border-gray-300 peer focus:outline-none focus:borer-rose-600" } %>
              <label for="email" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Email Address</label>
            </div>
            <div class="relative">
              <%= f.input :password,
                          required: false,
                          label: false,
                          input_html: { autocomplete: "current-password", class: "w-full h-10 text-gray-900 placeholder-transparent border-b-2 border-gray-300 peer focus:outline-none focus:borer-rose-600" } %>
              <label for="password" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Password</label>
            </div>
            <div class="flex items-center text-md">
              <%= f.input :remember_me, input_html: { class: "w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-600 mr-2" }, as: :boolean if devise_mapping.rememberable? %>
            </div>
            <div class="relative">
            <div class="form-actions">
              <%= f.button :submit, "Submit", class: "lg:col-start-3 p-2 px-4 rounded-md text-white justify-self-center bg-sky-500 uppercase lg:flex lg:text-[15px] cursor-pointer hover:bg-sky-800 transition ease-in-out", data: { turbo_frame: '_top' } %>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<% end %>
