<!DOCTYPE html>
<html>
  <head>
    <title>FullstackDeveloper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
   <% if notice %>
    <p class="text-black bg-green-200"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="text-red-800 bg-red-200"><%= alert %></p>
  <% end %>
    
    <div class="w-[60%] mx-auto ">
      <%= render "shared/header" %>
      <%= yield %>
    </div>
  </body>

</html>
