<div class="container-lg mt-5 p-3 border border-radius rounded">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class:"d-flex flex-column" , method: :put })do |f| %>
  <% if user_signed_in? %>
  <div class="d-flex justify-content-center align-items-center position-relative mb-3">
    <% if current_user.avatar_image.blank? %>
        <%= image_tag("https://png.pngtree.com/png-vector/20190223/ourlarge/pngtree-profile-line-black-icon-png-image_691065.jpg", :alt => "Foto do Perfil", class:"img-thumbnail  d-flex justify-content-center", height:"150px", width: "150px" )%>
    <% else %>
    <%= image_tag(current_user.avatar_image, :alt => "Foto do Perfil", class:"img-thumbnail  d-flex justify-content-center", height:"150px", width: "150px" )%>
    <% end %>
    </div>
    <% end %>

    <%= render "users/shared/error_messages", resource: resource %>
    <div class="mb-3">
        <%= f.label :full_name, class:"form-label", for:"inputName" %>
        <%= f.text_field :full_name, class:"form-control", id:"inputName" %>
    </div>

    <div class="mb-3">
      <%= f.label :email, class:"form-label", for:"inputEmail" %>
      <%= f.email_field :email, autocomplete: "email", id:"inputEmail", aria_describedby:"emailAdress", class:"form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :password, class:"form-label", for:"inputPassword" %> <i>(Deixe em branco caso não queira alterar a senha)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", id:"inputPassword", aria_describedby:"password", class:"form-control" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation, class:"form-label", for:"inputConfPassword" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", id:"inputConfPassword", aria_describedby:"confPassword", class:"form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :current_password, class:"form-label", for:"inputCurrentPassword" %> <i>(É necessário sua senha atual para confirmar as mudanças realizadas)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", id:"inputCurrentPassword", aria_describedby:"currentPassword", class:"form-control"  %>
    </div>

    <div class="mt-4 mb-2 ms-2 d-flex justify-content-between align-items-center flex-row">
      <%= f.label "Imagem de Perfil:", class:"form-label my-2" %>

      <div class="d-flex justify-content-between align-items-start flex-column flex-grow-1 m">

    <div class="form-check ms-3">
      <%= f.radio_button :avatar_image, "" , name:"flexRadioDefault", class:"form-check-input", id:"removeImage" %>
      
      <%= f.label "Remover imagem", for:"removeImage", class:"form-check-label" %>
    </div>

    <div class="form-check ms-3">
      <%= f.radio_button :avatar_image, current_user.avatar_image , name:"flexRadioDefault", class:"form-check-input", id:"keepImage" %>
      
      <%= f.label "Manter imagem", for:"keepImage", class:"form-check-label" %>
    </div>

    <div class="input-group">
      <div class="input-group-text">
      <%= f.radio_button :avatar_image, "", name:"flexRadioDefault", class:"form-check-input mt-0", id:"webImage" %> 
      </div>
      <%= f.text_field "avatar_image", value: "",class:"form-control", placeholder:"Endereço da foto: http://..." %>
    </div>

    <div class="input-group">
      <div class="input-group-text">
        <%= f.radio_button :avatar_image, "" , name:"flexRadioDefault", class:"form-check-input mt-0" %> 
      </div>
      <%= f.file_field "avatar_image", value:"", class:"form-control" %>
    </div>

    </div>
    </div>

    <div class="d-flex justify-content-end flex-row mt-3">
      <%= link_to "Voltar", users_backoffice_user_show_path, type:"button", class:"btn btn-danger me-3" %>
      <%= f.submit "Atualizar", type:"button", class:"btn btn-primary" %>
    </div>
<% end %>
</div>
